/* Reusable Circle Glow Component */
.circle-glow-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.radiant-glow-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate-glow 20s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes rotate-glow {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.glow-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.glow-layer-2 {
  opacity: 0.5;
}

.main-circle-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}
